input {
    width: 343px;
    height: 48px; 
    margin: 32px 16px 32px 16px;
    border-radius: 3px; 
    border: solid 1px #1d2129; 
    padding: 0 16px; 
}
h1 {
    padding: 0 16px;
}
input + input
    {
        color: #00cccc;}

input::placeholder {
    color: turquoise;
}

header {
    position: relative;
    padding: 10px 15px;
}

header a {
    display: inline-block;
    width: 100px;
}

header a img {
    width: 100%;
}

header button {
    float: right;
    background-image: url("images/bug.jpg");
    background-size: cover;
    width: 25px;
    height: 25px;
    background-color: none;
    border: none;
}


