input {
    width: 343px;
    height: 48px; 
    margin: 32px 16px 32px 16px;
    border-radius: 3px; 
    border: solid 1px #1d2129; 
    padding: 0 16px; 
}
h1 {
    padding: 0 16px;
}
input + input
    {
        color: #00cccc;}

input::placeholder {
    color: turquoise;
}

header {
    position: absolute;
    width: 100%;
    padding: 10px 15px;
}

header a {
    display: inline-block;
    width: 100px;
}

header a img {
    width: 100%;
}

header button {
    display: block;
    margin: 5px 8px;
    float: right;
    background-image: url("images/bug.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
}

main {
    width: 100%;
    height: 1000px;
    background-image: url("images/main_W9.jpg");
    background-size: cover;
}

main h1 {
    font-size: 55px;
    color: white;
    
}

